# Sposób pierwszy

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
L = 0.357
uL = 0.002

T = 1.203
uT = 0.03

In [26]:
def g(T, L): return 4*np.pi**2/T**2*L


def ug(T, uT, L, uL): return np.sqrt(
    (4*np.pi**2 / T**2 * uL) ** 2 +
    (-8*np.pi**2 * L / T**3 * uT) ** 2
)

In [27]:
ug(T, uT, L, uL), g(T, L)

(0.48877040849155967, 9.738603812411062)

# Sposób drugi

In [28]:
data = pd.DataFrame({
    'T':    [1.203,
             1.195,
             1.199,
             1.192,
             1.198,
             1.181,
             1.181,
             1.198,
             1.148,
             1.187,],
})

In [29]:
T_avg = data['T'].mean()
T_avg

1.1882

In [30]:
uT_avg = np.sqrt(((data['T'] - T_avg)**2).sum() /
                 data['T'].shape[0] / (data['T'].shape[0]-1))
uT_avg

0.005065789397736774

In [34]:
ug(T_avg, uT_avg, L, uL)
T_avg, uT_avg, L, uL
# 4*np.pi**2/T_avg**2*L

(1.1882, 0.005065789397736774, 0.357, 0.002)

In [18]:

Ts = [.614 ,
      .745 ,
      .862 ,
      .950 ,
       1.120,
       1.227, ]

# Ts = [.614,
#       .745,
#       .862,
#       .950,
#       1.120,
#       1.236, ]
Ls = [97,
      144,
      190,
      237,
      323,
      400,]

In [19]:
data = pd.DataFrame({'T': Ts, 'L': Ls})
data['T2'] = data['T'] ** 2
data['L'] = data['L'] / 1000
data

       T      L        T2
0  0.614  0.097  0.376996
1  0.745  0.144  0.555025
2  0.862  0.190  0.743044
3  0.950  0.237  0.902500
4  1.120  0.323  1.254400
5  1.227  0.400  1.505529

In [21]:
from scipy.stats import linregress

result = linregress(data['L'], data['T2'])  # x and y are arrays or lists
a = result.slope
b = result.intercept
ub = result.intercept_stderr
ua = result.stderr
print(a, ua, b, ub)

3.758577607066813 0.06114217444913525 0.0182187580950105 0.015523029596710163

In [14]:
result.stderr

0.04134911142388741

In [12]:
g = 4*np.pi**2 / a
g

10.343910224012228

In [22]:
a

3.758577607066813

In [13]:
ug = 4*np.pi**2 / a**2 * ua
ug

0.11206653126261111